@import './functions';

:root{
  --primary-color: #fff;
  --secondary-color: #681c99;
  --tertiary-color: #7e57c2;
  --cuaternary-color: #ff0abf;
  --quinary-color: #000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--tertiary-color);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

html {
  font-size: 100%; 
}

body{
  background-image: url('../images/general-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include desktop1366{
    background-image: none;
  }

}

a{
  text-decoration: none;
}

#root,
.layout-container{
  min-height: 100%;
}

.MuiTypography-root.MuiTypography-h2{
  font-size: 2.35rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.MuiAlert-icon path,
.MuiAlert-message,
.MuiAlert-action path{
  color: var(--primary-color)
}

.layout-container{
  overflow: hidden;
}

.no-resolution{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 780px;
  font-size: 1.3rem!important;
  text-align: center;
}