.login-form-grid-container{
  justify-content: flex-end;
  height: 100%;
  background-image: url('../images/login-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;

  .slides-container{
    position: relative;
    height: 100%;

    .slide{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }

  .login-form-subtitle{
    margin-bottom: 2rem;
  }

  .login-form-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 13rem;
    overflow: hidden;
    position: relative;

    .login-form-text{
      font-size: 0.7rem;

      &.no-password{
        display: inline-block;
      }

      &.no-user{
        display: flex;
        justify-content: space-around;
      }

    }

    .link{
      padding: 0;

      &.login-form-text{
        font-weight: bold;
        color: var(--cuaternary-color);

        &:hover{
          color: var(--secondary-color)
        }

      }
      
    }

  }

}